<footer>
<div class="row footer" >
    <div class="col-md-12">
        <p class="text-center"><a href="http://tvd.unibague.edu.co/"><img src="{{ asset('bundles/frontfrontend/images/TVD.png')}}" > </a><br>Con el Apoyo de Tolima Digital</p>
        <div style="width: 100%; text-align: center; margin: auto">
            <a href="http://www.contadorvisitasgratis.com" target="_Blank" title="contador de visitas">contador de visitas</a><br>
            <script type="text/javascript" src="http://counter6.statcounterfree.com/private/countertab.js?c=3ce3d2237d879883245ff504ddaaceed"></script>    
        </div>
       <p class="text-center"><a href="#">Mapa del sitio</a></p>
    </div>
</div>
</footer>