
<body>
    
    <div class="back2"></div> 
    <div class="container">
    <div class="row">
        <div class="col-md-12"><h1 class="text-center tolkid">Tolima Kids</h1></div>        
    </div>

</body>
 

