@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@charset "UTF-8";*/
/* CSS Document 
26 feb 2013
v 1.1 general LAYOUT 
alll rights reserved _________
*/
html{
    height:100%;}
body{
    width:100% !important;
    height:100% !important;
    border:0px !important;
    margin:0px !important;
    padding:0px !important;
}

#super_contaniner{
    width:90%;
    margin:auto;
    min-width:960px;
}

a{
    text-decoration:none;}

p{
    text-align:left;}
.preview{
    color: black;
    width: 220px;
    height: 220px;
    position: absolute;
    z-index: 1;
    margin-left: 50%;
    left: -110px;
}

.container {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 2300px;
    min-width: 750px;
}


.infobox .image {
    width: 260px !important;
    float: left;
    overflow: hidden;
}

.infobox .image img{
    width: 100% !important;
    float: left;
}

.place {display: inline-block} .left{float:left;} .right{float:right;} .text{font-family: 'Open Sans', sans-serif; font-weight: normal;}
.width100{width:100%;} .width99{width:99%;} .width98{width:98%;} .width97{width:97%;} .width96{width:96%;} .width95{width:95%;} .width94{width:94%;}
.width93{width: 93%;} .width92{width:92%;} .width91{width:91%;} .width90{width:90%;} .width89{width:89%;} .width88{width:88%;} .width87{width:87%;} 
.width86{width: 86%;} .width85{width:85%;} .width84{width:84%;} .width83{width:83%;} .width82{width:82%;} .width81{width:81%;} .width80{width:80%;}
.width79{width: 79%;} .width78{width:78%;} .width77{width:77%;} .width76{width:76%;} .width75{width:75%;} .width74{width:74%;} .width73{width:73%;} 
.width72{width: 72%;} .width71{width:71%;} .width70{width:70%;} .width69{width:69%;} .width68{width:68%;} .width67{width:67%;} .width66{width:66%;} 
.width65{width: 65%;} .width64{width:64%;} .width63{width:63%;} .width62{width:62%;} .width61{width:60%;} .width60{width:60%;} .width59{width:59%;}
.width58{width: 58%;} .width57{width:57%;} .width56{width:56%;} .width55{width:55%;} .width54{width:54%;} .width53{width:53%;} .width52{width:52%;}
.width50{width: 50%;} .width49{width:49%;} .width48{width:48%;} .width47{width:47%;} .width46{width:46%;} .width45{width:45%;} .width44{width:44%;}
.width43{width: 43%;} .width42{width:42%;} .width41{width:41%;} .width40{width:40%;} .width39{width:39%;} .width38{width:38%;} .width37{width:37%;} 
.width36{width: 36%;} .width35{width:35%;} .width34{width:34%;} .width33{width:33%;} .width32{width:32%;} .width31{width:31%;} .width30{width:30%;} 
.width29{width: 29%;} .width28{width:28%;} .width27{width:27%;} .width26{width:26%;} .width25{width:25%;} .width24{width:24%;} .width23{width:23%;} 
.width22{width: 22%;} .width21{width:21%;} .width20{width:20%;} .width19{width:19%;} .width18{width:18%;} .width17{width:17%;} .width16{width:16%;}
.width15{width: 15%;} .width14{width:14%;} .width13{width:13%;} .width12{width:12%;} .width11{width:11%;} .width10{width:10%;} .width9{width:9%;}
.width8 {width: 8%;} .width7 {width:7%;}  .width6{width:6%;} .widht5 {width:5%;} .width4{width:4%;} .width3{width:3%;} .wdth2{width:2%;}  .width1 {width:1%;}

.content_preview{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background: rgba(0,0,0,0.6);
    z-index: 90;
    display: none;
}
.preview{
    color: black;
    width: 220px;
    height: 220px;
    position: fixed;
    margin-left: 50%;
    margin-top: 250px;
    left: -110px;
}

.container {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 2300px;
    min-width: 750px;
}


/*------------------------------------------*/
/* HEADER
/*------------------------------------------*/
header {
    width:99.6%;
    float:left;
    height:150px;
    background-image:url(../images/header.png);
    background-size:100% 100%;
}
.logo{
    margin:30px 0px 0px 5%;
    width:465px;
    float:left;
    background-image:url(../images/logoMinisterio_blanco.png);
    background-size:100%;
    background-repeat:no-repeat;
    height:75px;
    min-height:75px;
}

#zonHead1 {
    background: url("../images/logoMinisterio_blanco.png") no-repeat scroll left top transparent;
    float: left;
    width: 40%;
    margin:30px 0px 0px 5%;
}
#zonHead1 h1 {
    margin: 0;
    padding: 0;
}
#zonHead2 {
    width:50%;
    float:left;
}
a#logoMinisterio {
    display: block;
    height: 77px;
    text-indent: -9999px;
    width: 293px;
}
#fechaActual {
    background: url("../images/logo_maca_pais.png") no-repeat scroll left top transparent;
    display: block;
    float: right;
    font-size: 0;
    height: 60px;
    margin-right: 2px;
    width: 166px;
    margin:20px 20px 0px 0px;
}
#fechaActual {
    color: #5B5B5B;
    text-align: right;
}
#lugar_login {
    float: left;
    width: 280px;
}
#lugar_login p {
    clear: left;
    float: left;
    min-width: 90%;
    padding: 3px 10px 3px 10px !important;
    border-radius: 10px;
    background-color: #FFF;
    margin: 0px 5px 5px 0px !important;
}
#lugar_login a {
    float: left;
    clear: left; 
    color: #0CF !important;
    padding: 3px 10px 3px 10px !important;
    margin: 0px 5px 0px 0px !important;
    background-color: #333;
    text-decoration: none;
    border-radius: 10px;
}
#lugar_login a:hover {
    color: #0CF !important;
    background-color:#000 !important;
}
#menuGuia {
    float: right;
    clear: right;
    overflow: hidden;
    width: 100px;
    margin:10px 20px 0px 0px;
}
#menuGuia ul {
    margin: 0;
    padding: 0;
}
#menuGuia li {
    float: right;
    list-style: none outside none;
    margin: 0 2px;
    padding: 0;
}
a.guiaBavn {
    color: #5B5B5B;
    display: block;
    margin-top: 2px;
}
#menuGuia a.poplight {
    background: url("../images/buscador.png") no-repeat scroll left 0 transparent;
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 91px;
}
a.guiaFb, a.guiaTw, a.guiaYt, a.guiaRss, a.guiaCont, a.guiaIng, a.guiaMov, a.guiaFor {
    background: url("../images/iconsHeader.png") no-repeat scroll left 0 transparent;
    display: block;
    height: 18px;
    margin-top: 2px;
    text-indent: -9999px;
    width: 16px;
}
a.guiaMov {
    width: 15px;
}
a.guiaFb:hover {
    background-position: 0 1px;
}
a.guiaTw {
    background-position: -35px 0;
}
a.guiaTw:hover {
    background-position: -35px 1px;
}
a.guiaYt {
    background-position: -70px 0;
}
a.guiaYt:hover {
    background-position: -70px 1px;
}
a.guiaRss {
    background-position: -105px 0;
}
a.guiaRss:hover {
    background-position: -105px 1px;
}
a.guiaCont {
    background-position: -140px 0;
}
a.guiaCont:hover {
    background-position: -140px 1px;
}
a.guiaIng {
    background-position: -171px 0;
}
a.guiaIng:hover {
    background-position: -171px 1px;
}
a.guiaMov {
    background-position: -195px 0;
}
a.guiaMov:hover {
    background-position: -195px 1px;
}
a.guiaFor {
    background-position: -216px 0;
}
a.guiaFor:hover {
    background-position: -216px 1px;
}

/*------------------------------------------*/
/* FIN HEADER
/*------------------------------------------*/

/*------------------------------------------*/
/* INICIO MENU SECUNDARIO
/*------------------------------------------*/

.principal{
    width:100%;
    float:left;
}
.menu_segundario{
    position:relative;
    padding-bottom:20px;
    width:19.5%;
    float:left;
    border-right:5px solid #CCC;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e1 53%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1e1e1 53%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1e1e1 53%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1e1e1 53%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e1e1e1 53%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.titu{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    width:100%;
    float:left;
    background-color:#00972C;
    text-align:center;
    color:#FFF;
    height:38px;
    padding:10px 0px 0px 0px;
    margin:auto;
}
.seccion_articulo{
    width:100%;
    float:left;
    min-height:410px;
    height:100%;
}
.articulo{
    width:100%;
    float:left;
}
.articulo h2 a{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    padding:5px 0px 0px 10px;
    margin:0px 5% 10px 5%;
    width:85%;
    float:left;
    font-size:1em;
    text-transform: uppercase;
    text-decoration:none;
    text-align:left;
    border-bottom:1px solid #00972C;
    color:#00972C;
}

.articulo h2 a:hover{
    color:rgba(255,255,255,0.8);
    background-color:#00972C;
}
.articulo p{
    margin:0px 10%;
    float:left;
    width:80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height:20px;
    font-size:0.8em;
    color:#000;
    text-decoration:none;
    text-align:left;
}
.seccion{
    width:95%;
    float:right;
    padding-right:5%
}
.seccion h2 a{
    font-family:Tahoma, Geneva, sans-serif;
    font-size:22px;
    color:#00972C;
    text-decoration:none;
    text-align:right;
}
.seccion p{
    margin:0px;
    float:right;
    width:80%;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#000;
    text-decoration:none;
    text-align:right;
}

/*------------------------------------------*/
/* FIN MENU SECUNDARIO
/*------------------------------------------*/



/*------------------------------------------*/
/* INICIO FILTRO Y RESULTADOS
/*------------------------------------------*/
.filterraper {
    margin-top: 40px;
    position: absolute;
    left:0px;
}
.filter {
    width:100%;
    float:left;
    margin-top:2%;
    padding-bottom:2%;
}
.filter fieldset {
    width:93%;
    color:#666;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    border:none;
}
.filter .resume {
    display: inline-block;
    background-color: #004013;
    margin: 30px 2px 0px 3px;
    padding: 0px 0px 7px 0px;
    overflow:auto;
    overflow-style: marquee-block; 
    height: 350px;
    width:100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
}
.filter select, .filter input {
    border: 0px solid  #CCC;
    display: list-item;
    margin-top: 20px;
    font-size: 18px;
}

.filter select {
    display: inline-block;
    width: 98%;
}
.filter input[type=text], .lugar {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
}
.filter input[type=button], .buttonsearch {
    background-color:#666;
    color:#FFF;
    border:0px;
    padding:5px 0px;
    float:right;
    width:100%;
    list-style:none !important;
    border-radius:3px;
    box-shadow:0px 3px 4px rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:1em;
    text-transform:uppercase;
}
.filter input[type=button]:hover, .buttonsearch:hover {
    background-color: #46AB5B;
    text-decoration:underline;
}
.filter input[type=button]:active, .buttonsearch:active {
    background-color: #fff;
    color: #189632;
}
.searchicon {
    right: 43px;
    z-index: 5;
}
.searchicon img {
    border-left: 1px solid #666;
    cursor: pointer;
    width: 40px;
}
.item_resume {
    background-color: #FFF;
    margin: 6px 3% 0px 3%;
    float: left;
    width: 94%;
}
.placepicture {
    margin-right: 10px;
    float: left !important;
    width: 27% !important;
    overflow: hidden;
    height: 55px;
}
.placepicture img {
    display: inline-block;
    width: 127%;
}
.categorie_imagen {
    float: right;
    width: 15%;
    margin-right: 3%;
}
.item_resume a {
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 67%;
    text-decoration: none;
    margin-bottom: 0px;
    font-weight: 200;
    font-size: 11px;
    margin-top: 3px;
    color: #189632;
}
.item_resume a:hover {
    text-decoration: none;
    color: #46AB5B;
}	
.item_resume a:active {
    color: #0C4B19;
}
.item_resume p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 11px;
    float: left;
    color: #333;
    width: 45%;
}

.item_resume_without {
    background-color: #004013;
    margin: 6px 3% 0px 3%;
    float: left;
    width: 94%;
}

.item_resume_without h3{
    color: #FFF;
    margin: 6px 3% 0px 3%;
    float: left;
    width: 94%;
}
/*------------------------------------------*/
/* FIN FILTRO Y RESULTADOS
/*------------------------------------------*/



/*------------------------------------------*/
/* INICIO MENÃš PRINCIPAL
/*------------------------------------------*/

.menu_principal{
    position:relative;
    width:79.8%;
    float:left;
    background-color:#00972C;
}
.menu_principal ul{
    width:100%;
    float:left;
    margin:0px !important;  
    padding:0px !important;

}
.menu_principal li{
    margin:0px !important;
    float:left;
    padding:0px;
    list-style-type:none;
}
.menu_principal li a{
    padding:15px 15px;
    color:#FFF;
    float:left;
    text-transform:uppercase;
    border-right:1px solid #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:0.8em;
}
.menu_principal li a:hover{
    background-color:rgba(255,255,255,0.1);
    text-decoration:underline;
}

/*------------------------------------------*/
/* FIN MENÃš PRINCIPAL
/*------------------------------------------*/


/*------------------------------------------*/
/* INICIO CONTENIDO
/*------------------------------------------*/
.contenido{
    width:100%;
    float:left;
    position:relative;
}
.colocar_contenido{
    position:relative;
    width:79.9%;
    float:left;
}
.informacion{
    position:relative;
    width:100%;
    float:left;
}
.informacion_derecha{
    float:left;
    width:98%;
    margin-left:2%;
    padding-bottom:5%;
    position:relative;
}
.titulo{
    width:100%;
    float:left;
    position:relative;
}
.titulo h1{
    width:100%;
    padding: 5px 0px;
    float:left;
    font-size:1.2em !important;
    font-family: 'Open Sans', sans-serif;
    color:#005719;
    font-weight:600 !important;
    text-transform:uppercase;
    text-shadow:1px 1px 4px rgba(0,0,0,0.2);
}
#imagen_pagina{
    float: left;
    margin-right: 3%;
    height: 300px;
}
#imagen_pagina img{
    width:95%;
    float:left;
    margin:0px 5% 20px 0px;
    height: 300px;
}
.photo_portada{
    float: left;
    margin-right: 3%;
    width: 50%;
    height: 300px;
} 
.photo_portada img{
    min-width:95%;
    float:left;
    margin:0px 5% 20px 0px;
    height: 300px;
}
.informacion_derecha p{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    font-size:0.9em;
    font-weight:300;
    line-height: 30px;
}
.columnas{
    width:100%;
    float:left;
}
#columnas_pequeñas{
    width:30%;
    float:left;
    position:relative;
    margin:10px 3% 0px 0px;
}
#columnas_pequeñas p{
    width:95%;
    font-family: 'Open Sans', sans-serif;
    padding-right: 5%;
    font-size:14px;
    line-height: 25px;
}
.titulo_columna{
    font-size:18px;
    font-family: 'Julius Sans One', sans-serif;
    color:#00972C;
}
.titulo_columna:hover{
    text-decoration:underline;
    cursor:pointer;
}



/*------------------------------------------*/
/* INICIO MAPA
/*------------------------------------------*/
.map {
    display: inline-block;
    width: 100%;
    z-index: 3;
}
.map-inner{
    width:100%;
    float:left;
    height:475px;
    background-size:100%;
}
.pop_up_map_raper {
    background: rgba(24, 150, 50, 0.5);
    position: absolute;
    z-index: 5;
    width: 300px;
}
.pop_up_map {
    position: relative;
    background-color: #FFF;
    display: inline-block;
    padding: 2% 2% 2% 2%;
    width: 92%;
    margin: 2% 2% 2% 2%;
}
.pop_up_map a {
    font-family: 'Open Sans', sans-serif;
    margin: 5px 3px 5px 3px;
    text-decoration: none;	
    font-weight: 200;
    font-size: 20px;
    color: #189632;
}
.pop_up_map hr {
    background-color: #CCC !important;
    color: #CCC !important;
}
.pop_up_map p {
    margin-bottom: 5px;
    color: #333;
}
.cerrarpopup {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    width: 15%;
}
.pop_up_map img {
    margin-right: 10px;
    float: left;
    width: 40%;
}

.infobox{display:inline-block;zoom:1;background-color:#fff;padding:10px;position:relative;width:270px}
.infobox:after{height:0;content:".";display:block;clear:both;visibility:hidden}
.infobox:before{
    bottom:-16px;border:8px solid transparent;border-top-color:#fff;content:'';
    height:0px;margin-left:-8px;left:50%;position:absolute;width:0px;z-index:100}
.infobox .image{

    display: inline-block;
    margin-bottom:10px;
    margin-right:5px;
    margin-left: 5px;
}
.infobox .descriptionpopup {
    text-align: left !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    color: #333;
}
.infobox .title{
    font-size:1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}.infobox .title a:href{text-decoration:none}
.infobox .area{color:#313131;margin-top:5px}.infobox .area .key{float:left;font-weight:bold}
.infobox .price{clear:left;color:#313131;float:left;font-size:18px;margin-top:8px}
.infobox .link a{
    -webkit-transition:background-color 0.2s ease-in;
    -moz-transition:background-color 0.2s ease-in;
    -o-transition:background-color 0.2s ease-in;
    transition:background-color 0.2s ease-in;
    background-image:none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;text-shadow:none;
    background-color:#189632;
    background-image:url("../../frontend/img/arrow-right-white.png");
    background-position:90% center;
    background-repeat:no-repeat;
    background-size:8px 11px;
    border:0px;
    color:#fff;
    padding:7px 30px 7px 15px;
    clear:right;
    float:left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.infobox .link a:hover,.infobox .link a:active,.infobox .link a:focus{
    -webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-box-shadow:none;
    -moz-box-shadow:none;box-shadow:none;text-shadow:none}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2){
    .infobox .link a{background-image:url("../img/arrow-right-white@2x.png")}}



/*------------------------------------------*/
/* FIN MAPA
/*------------------------------------------*/

/*------------------------------------------*/
/* INICIO PICTURE AND CROP
/*------------------------------------------*/

.crop_picture_contanier {
    float:left;
    min-height:400px;
    width:100%;

}
/*------------------------------------------*/
/* FIN PICTURE AND CROP
/*------------------------------------------*/








/*_________________________________________________ITO-CARROUSEL_______________________________________________*/
.links img {
    position: relative;
    display: inline-block;
    width: 105%;
    margin-left: -2.5%;
    z-index: 3;
}
.links {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 1% 10px 1%;
    width: 31%; /*set the width of the picture*/
}
.links a {
    overflow: hidden;
    width: 100%;
    display: inline-block;
}
.ito-carrousel {
    display: inline-block;
    width: 100%;
}
.prev images {
    display: none;
}
.next images {
    display: none;
}
.prevcarrousel, .nextcarrousel {
    margin-top: 49px;
    float: left;
    width: 5%;
    max-width: 50px;
    min-width: 5%;
    min-height: 30px;
    cursor: pointer;
}
.prevcarrousel img{
    display: none;
    float: left;
}
.nextcarrousel img{
    float: right;
}
.carrouselbox {
    overflow: hidden;
    float: left;
    width: 90%;
}
.current images {
    min-height: 155px;
    text-align: center !important;
    float: left;
    width: 100%;
}
.current images a {
    vertical-align: bottom;
}

/*_________REDEFINIDOS CROP IMAGE___*/

.jcrop-holder #preview-pane {
    left: -500px !important;
    top: -250px !important;
}


#img_crop {
    padding: 15px;
    background-color: #A5A5A5;
    border-radius: 10px;
    position: absolute;
    margin-top: -360px;
    margin-left: -270px; 
}


/*_________RESPOSIVE DESIGN___________*/

/*________Valores intermendios_____________*/
@media (min-width: 100px ) and (max-width: 800px ){
    .sf-menu a {
        font-size: 12px;
    }
    .filterraper {
        width: 200px;
    }
    .filter select {
        padding: 5px 1% 5px 1%;
    }
    .filter input[type=text], .lugar {
        padding: 5px 1% 5px 1%;
    }
    .filter input[type=button], .buttonsearch {
        padding: 5px 1% 5px 1%; 
    }
    .filter input[type="button"], .buttonsearch {
        margin-bottom: 10px;
    }
    .wall {
        width: 2px;
        height: 20px !important;
    }
    .picture {
        height: 130px;
    }
    .twitter {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
    }
    .twitter-timeline {
        height: 298px;
        width: 100%;
    }

    .news a {
        min-height: 40px;
        max-height: 40px;
        font-size: 13px;
    }
    .news p {
        min-height: 79px;
        max-height: 79px;
        font-size: 12px;
    }
    #zonHead1 {
        background: url("../images/logoministerio.png") no-repeat scroll left top transparent; 
        background-size: 300px 55px;
        width: 300px;
    }
    #zonHead2 {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
        width: 400px;
    }
    #menuGuia {
        width: 330px;
    }
}

@media (min-width: 800px ) and (max-width: 1300px ){
    .sf-menu a {
        font-size: 14px;
    }
    .picture {
        height: 150px;
    }
    .twitter-timeline {
        height: 334px;
        width: 100%;
    }
    .news a {
        min-height: 55px;
        max-height: 55px;
        font-size: 15px;
    }
    .news p {
        min-height: 80px;
        max-height: 80px;
        font-size: 12px;
    }
    #zonHead1 {
        background: url("../images/logoministerio.png") no-repeat scroll left top transparent; 
        background-size: 370px 65px;
        width: 370px;
    }
    #zonHead2 {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
        width: 450px;
    }
}
/*______________________________________*/

@media (min-width: 500px ) and (max-width: 1300px ){
    .decorationtop {
        margin-bottom: -160px;
    }
    .decorationbottom {
        margin-top: -330px;
    }
    .filter .resume {
        height: 350px;
        width:100%;
    }
    Estilos carrousel
    .links {
        height: 200px;
    }
    .prevcarrousel, .nextcarrousel {
        margin-top: 80px;
    }
}

@media (min-width: 1300px ) and (max-width: 2500px ){
    .picture {
        height: 250px;
    }
    .twitter-timeline {
        height: 395px;
        width: 100%;
    }
    .decorationtop {
        margin-bottom: -250px;
    }
    .decorationbottom {
        margin-top: -530px;
    }
    .filter .resume {
        height: 400px;
        width:100%;
    }
    Estilos carrousel
    .links {
        height: 300px;
    }
    .prevcarrousel, .nextcarrousel {
        margin-top: 140px;
    }
    .container {
        text-align: center;
    }
    .contents {
        text-align: left;
        display: inline-block;
        max-width: 1300px;
    }
    .popupaddpicture {
        margin-right: 15%;
    }
    .news a {
        min-height: 36px;
        max-height: 36px;
        font-size: 15px;
    }
    .news p {
        min-height: 60px;
        max-height: 60px;
        font-size: 12px;
    }
}

@media (min-width: 2500px ) and (max-width: 11000px ){
    .picture {
        height: 260px;
    }
    .twitter-timeline {
        height: 395px;
        width: 100%;
    }
    .decorationtop {
        margin-bottom: -250px;
    }
    .decorationbottom {
        margin-top: -530px;
    }
    .sf-menu a {
        font-size: 17px;
    }
    /*.filter .resume {
    height: 400px;
    }*/
    .news a {
        min-height: 36px;
        max-height: 36px;
        font-size: 15px;
    }
    .news p {
        min-height: 50px;
        max-height: 50px;
        font-size: 12px;
    }

    estilos para seÃ±aladores del mapa 
    .pointe_nautica {
        background-image: url("images/nauticamap.png") !important;
    }
    .pointe_congresos {
        background-image: url("images/congresosmap.png") !important;
    }
    .pointe_ferias {
        background-image: url("images/feriasmap.png") !important;
    }
    .pointe_playa {
        background-image: url("images/solplayamap.png") !important;
    }
    .pointe_cultura {
        background-image: url("images/culturamap.png") !important;
    }
    .pointe_salud {
        background-image: url("images/saludmap.png") !important;
    }
    .pointe_aventura {
        background-image: url("images/aventuramap.png") !important;
    }
    .pointe_natural {
        background-image: url("images/naturalezamap.png") !important;
    }


    Estilos carrousel
    .links {
        height: 400px;
    }
    .prevcarrousel, .nextcarrousel {
        margin-top: 170px;
    }
    .container {
        text-align: center;
    }
    .contents {
        text-align: left;
        display: inline-block;
        max-width: 1300px;
    }
    .popupaddpicture {
        margin-right: 15%;
    }
}






/*___________________________________SUPERFISH NAVBAR____________________________________*/

/** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu **/
.sf-navbar {
    background: #BDD2FF;
    position: relative;
    margin-bottom: 5em;
}
/*provide background colour for submenu strip 
you should just set the menu's container bg colour rather than use pseudo-elements */
.sf-navbar:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: #BDD2FF;
    height: 200%;
    width: 100%;
}
.sf-navbar ul {
    box-shadow: none;
}
.sf-navbar li {
    background: #AABDE6;
    position: static;
}
.sf-navbar > li > a,
.sf-navbar > li > ul > li > a {
    border: none;
}
.sf-navbar > li > ul {
    min-width: 36em;  /*set this to whatever suits your design */
}
.sf-navbar ul li {
    background: #BDD2FF;
    position: relative;
}
.sf-navbar ul ul {
    left: 0;
    top: 100%;
}
.sf-navbar ul ul li {
    width: 100%;
}
.sf-navbar > li > ul > li {
    float: left;
}
.sf-navbar li.current {
    background: #BDD2FF;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar ul li.current {
    background: #BDD2FF;
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
.sf-navbar ul ul li {
    background: #D1DFFF;
}
.sf-navbar ul ul li:hover,
.sf-navbar ul ul li.sfHover,
.sf-navbar ul ul li.current {
    background: #E6EEFF;
}
.sf-navbar ul li.current > a {
    font-weight: bold;
}

** point all arrows down **
.sf-arrows.sf-navbar ul .sf-with-ul:after {
    margin-top: -3px;
    margin-right: 0;
    border-color: transparent;
    border-top-color: #dFeEFF;  /*edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}

.sf-arrows.sf-navbar ul > li > .sf-with-ul:focus:after,
.sf-arrows.sf-navbar ul > li:hover > .sf-with-ul:after,
.sf-arrows.sf-navbar ul > .sfHover > .sf-with-ul:after {
    border-color: transparent;
    border-top-color: white;
}
/*------------------------------------------*/
/* INICIO FOOTER
/*------------------------------------------*/

.pie_uno{
    margin:0px 5%;
    width:84%;
    float:left;
    border:1px solid #CECECE;
    padding:15px 3%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    -o-border-radius: 10px;
}

/*ESTILOS PARA EL COLOR DE CADA MINISTERIO*/
.vicepresidencia{
    background-position:0 1px;
}
.minjusticia{
    background-position:0px -12px;
}
.mindefensa{
    background-position:0px -24px;
}
.mininterior{
    background-position:0px -36px;
}
.minrelaciones{
    background-position:0px -48px;
}
.minhacienda{
    background-position:0px -60px;
}
.minminas{
    background-position:0px -72px;
}
.mincomercio{
    background-position:0px -84px;
}
.mintic{
    background-position:0px -96px;
}
.mincultura{
    background-position:0px -108px;
}
.minagricultura{
    background-position:0px -120px;
}
.minambiente{
    background-position:0px -132px;
}
.mintransporte{
    background-position:0px -144px;
}
.minvivienda{
    background-position:0px -156px;
}
.mineducacion{
    background-position:0px -168px;
}
.mintrabajo{
    background-position:0px -180px;
}
.minsalud{
    background-position:0px -192px;
}

.links_otras_paginas{
    width:75%;
    float:left;
    padding:0px;
    margin:0px;
    position:relative;
}
.logo_gobierno_de_colombia{
    min-width:220px;
    float:left;
    height:190px;
}
.logo_gobierno_de_colombia img{
    float:left;
    width:210px;
    margin:30% 0px;
}
.links_otras_paginas ul{
    display:inline-block;
    list-style:none;
    text-align:left;
    float:left;
    margin:50px 1% 0px 0px;;
    padding:0px;
    min-width:121px;
}
.links_otras_paginas ul li{
    font-size:0.9em;
    margin:3px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.links_otras_paginas ul li a{
    background-image: url('../images/footer/vinnetas_menug_gel.png');
    background-repeat:no-repeat;
    padding-left:15px;
    display:block;
    color:#666;
    font-size: 0.9em;
    height: 11px;
    line-height: 10px;
    text-decoration: none;
    font-weight: 300;
}
.links_otras_paginas ul li a:hover{
    text-decoration:underline;
    color:#419438;
}
.columna_tres_footer{
    padding:6px 0px 0px 0px !important;
}
.columna_cuatro_footer{
    border-left:1px solid #000;
    padding-left:3%;
    width:21%;
    float:left !important;
    position:relative;
    margin:0px;
}
.columna_cuatro_footer h6{
    float:left;
    text-align:left;
    color:#666;
    padding-left:10px;
    font-weight:bold;
    margin:0px;
    font-size:12px;
    padding-bottom:5px;
}
.columna_cuatro_footer ul{
    list-style:square;
    padding-left:20px;
    margin:0px;
}
.columna_cuatro_footer li{
    line-height:14px;
    font-size:0.7em;
    font-weight: 300;
    width:100%;
    float:left;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
}
.columna_cuatro_footer li a{
    color:#666 !important;
    text-decoration:none;
}
.columna_cuatro_footer li a:hover{
    text-decoration:underline;
    color:#419438 !important; 
}

.footer{
    position:relative;
    width:100%;
    float:left;
}
.primero{
    padding:20px 0px 0px 0px;
    width:100%;
    float:left;
    height:130px;
    background-color:rgba(0,0,0,0.8);
}
.primero p{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size:0.9em;
    font-weight:300;
    color:#FFF;
}
.primero a{
    color:#FFF;} 
.primero a:hover{
    color:#09F;
    text-decoration:underline;
}
.ultimo{
    width:100%;
    float:left;
    height:30px;
    background-color:#000;
}
/*------------------------------------------*/
/*     LEER MÃS INTERNAS ARTICULOS
/*------------------------------------------*/
.button_mas_articulos{
    background-color: #666666;
    border-radius: 3px 3px 3px 3px;
    border: 0 none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    float:left;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    margin:0px 5%;
    padding:10px 0px;
    text-align:center;
    font-weight:300;
    text-transform: uppercase;
    width:90%;
}
/*------------------------------------------*/
/* SLIDER
/*------------------------------------------*/
#main-inner {
    position: relative;
    width: 50%;
    float:left;
}
/*------------------------------------------*/
/*  TABLA CONTENIDO DETALLE
/*------------------------------------------*/

#contenido_servicio{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.descripcion_atractivo_content{
    float:left;
    width:100%;
    border-radius:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.descripcion_atractivo_content ul{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
}
.descripcion_atractivo_content ul li{
    list-style-type:none;
    text-decoration:none;
    min-height: 20px;
    height:100%;
    max-height: 250px;
    overflow: auto;
    padding:7px 0px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(255,255,255,1);
    border-right:1px solid rgba(255,255,255,1);
}
.label_atractivo{
    width:46.9%;
    float:left;
    color:#00972C;
    text-transform:uppercase;
    padding-left:3% !important;
}
.descripcion_atractivo{
    float:left;
    border-left:1px solid rgba(0,0,0,0.1) !important;
    width:45.8%;
    padding-left:3% !important;
} 
/*------------------------------------------*/
/*  TABLA CONTENIDO SERVICIO
/*------------------------------------------*/
#descripcion_servicio_content{
    float:left;
    width:100%;
    border-radius:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
#descripcion_servicio_content ul{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
}
#descripcion_servicio_content ul li{
    list-style-type:none;
    text-decoration:none;
    min-height: 20px;
    height:100%;
    max-height: 250px;
    overflow: auto;
    padding:7px 0px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(255,255,255,1);
    border-right:1px solid rgba(255,255,255,1);
}
.label_servicio{
    list-style-type:none;
    width:46.9%;
    float:left;
    color:#00972C;
    text-transform:uppercase;
    padding-left:3% !important;
}
.descripcion_servicio{
    list-style-type:none;
    float:left;
    border-left:1px solid rgba(0,0,0,0.1) !important;
    width:45.8%;
    padding-left:3% !important;
}

/*------------------------------------------*/
/*  TABLA CONTENIDO DESTINO
/*------------------------------------------*/
#descripcion_destino_content{
    float:left;
    width:100%;
    border-radius:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
#descripcion_destino_content ul{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
}
#descripcion_destino_content ul li{
    list-style-type:none;
    text-decoration:none;
    min-height: 20px;
    height:100%;
    max-height: 250px;
    overflow: auto;
    padding:7px 0px;
    border-top:1px solid rgba(0,0,0,0.1);
    border-left:1px solid rgba(255,255,255,1);
    border-right:1px solid rgba(255,255,255,1);
}
.label_destino{
    list-style-type:none;
    width:46.9%;
    float:left;
    color:#00972C;
    text-transform:uppercase;
    padding-left:3% !important;
}
.descripcion_destino{
    list-style-type:none;
    float:left;
    border-left:1px solid rgba(0,0,0,0.1) !important;
    width:45.8%;
    padding-left:3% !important;
}

.descripcion_destino_texto{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    margin:20px 0px;
}

.titulo_destino{
    width:100%;
    float:left;
    position:relative;
}
.titulo_destino h1{
    width:100%;
    padding: 5px 0px;
    float:left;
    font-size:1.2em !important;
    font-family: 'Open Sans', sans-serif;
    color:#005719;
    font-weight:600 !important;
    text-transform:uppercase;
    text-shadow:1px 1px 4px rgba(0,0,0,0.2);
}
/*------------------------------------------*/
/*      DETALLE LUGARES
/*------------------------------------------*/
.descripcion_atractivo{
    float:left;
    width:46%;
    padding-left:3% !important;
}
.descripcion_atractivo_texto{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    margin-top:20px;
}
.titulo_lugar h1{
    width:100%;
    padding: 5px 0px;
    float:left;
    font-size:1.2em !important;
    font-family: 'Open Sans', sans-serif;
    color:#005719;
    font-weight:600 !important;
    text-transform:uppercase;
    text-shadow:1px 1px 4px rgba(0,0,0,0.2);
}
.titulo_lugar{
    width:46%;
    float:left;
    position:relative;
}
@media (min-width: 200px ){
	.titulo_lugar{
		width:100%;
		float:left;}
		
		.descripcion_atractivo_texto{
			width:100%;
	}
	}
@media (min-width: 1520px ) and (max-width: 2130px ){
    .titulo_lugar{
        width:45% !important;
        float:left;
    }
	.descripcion_atractivo_texto{
		width:90%;
	}
}
@media (min-width: 2131px){
.titulo_lugar{
	width:45% !important;
	float:left;
}
.descripcion_atractivo_texto{
	width:80%;
}
	
	}
.titulo_servicio{
    width:100%;
    float:left;
    position:relative;
}
.titulo_servicio h1{
    width:100%;
    padding: 5px 0px;
    float:left;
    font-size:1.2em !important;
    font-family: 'Open Sans', sans-serif;
    color:#005719;
    font-weight:600 !important;
    text-transform:uppercase;
    text-shadow:1px 1px 4px rgba(0,0,0,0.2);
}
.titulo_pagina{
    width:100%;
    float:left;
    position:relative;
}
.titulo_pagina h1{
    width:100%;
    padding: 5px 0px;
    float:left;
    font-size:1.2em !important;
    font-family: 'Open Sans', sans-serif;
    color:#005719;
    font-weight:600 !important;
    text-transform:uppercase;
    text-shadow:1px 1px 4px rgba(0,0,0,0.2);
}

/*___________________________________TOOLD TIP_______________________________________*/
.tooltip_link {
    margin-left: 2px;
    font-size: 11px;
    float: none !important;
    padding: 1px 5px 1px 5px !important;
    border-radius: 5px !important;
    background-color: #999 !important;
    color: #FFF !important;
    box-shadow: 3px 3px 3px #CCCCCC;
}
.div_tooltip {
    border-radius: 10px 10px 10px !important;
    box-shadow: 3px 3px 3px #666666;
    border: 1px solid #333;
    background-color: #FFF;
    position: relative;
    max-width: 300px;
    z-index: 30;
    color: #333;
}
.div_tooltip a {
    float: right !important;
    margin-top: -7px;
    margin-right: -7px;
}
.div_tooltip a img {
    border-radius: 5px;
    box-shadow: 3px 3px 3px #666;
}
.div_tooltip ul {
    float: left;
    max-width: 90%;
    margin:3px 10px 10px 20px;
}
.div_tooltip ul li {
    text-transform: none !important;
    list-style-type: none !important;
    width: 100%;
    float: left;
}
#sf_admin_container th {
    white-space: normal !important;
}
/*___________________________________CLOSE TOOLD TIP_______________________________________*/
#imagen_lugar img{
    width: 50%;
    margin: 0px 25%;
}