/*estilos para señaladores del mapa */
.marker_nautica {
    background-image: url("../images/nauticamap.png") !important;
}
.marker_congresos {
    background-image: url("../images/congresosmap.png") !important;
}
.marker_ferias {
    background-image: url("../images/feriasmap.png") !important;
}
.marker_playa {
    background-image: url("../images/solplayamap.png") !important;
}
.marker_cultura {
    background-image: url("../images/culturamap.png") !important;
}
.marker_salud {
    background-image: url("../images/saludmap.png") !important;
}
.marker_aventura {
    background-image: url("../images/aventuramap.png") !important;
}
.marker_natural {
    background-image: url("../images/naturalezamap.png") !important;
}
