@font-face {
	font-family:"Boomerang";
	src:url("../fonts/Boomerang/boomi___-webfont.eot?") format("eot"),url("../fonts/Boomerang/boomi___-webfont.woff") format("woff"),url("../fonts/Boomerang/boomi___-webfont.ttf") format("truetype"),url("../fonts/Boomerang/boomi___-webfont.svg#Boomerang") format("svg");font-weight:normal;font-style:normal;}

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:url(../images/bg.jpg);
}

*{
	padding:0px;
	margin:0px;
}

p{
	color:#666;
}
h1,h2,h3,h4,h5,h6{
	color:#f27c08;
	font-family:"Boomerang";
}
.back2{
	background:url(../images/bg_top.svg) no-repeat;
	background-size:contain;
	min-height:400px;
	width:100%;
	position:absolute;
	z-index:-300;
}
p{
	font-weight:300;
	line-height:20px;
}
.tolkid{
	font-family:"Boomerang";
	color:#fff;
	font-size:48px;
	margin-top:5px;
}

.curve{
	background:url(../images/bg_iframe.png) top center no-repeat;
	min-height:443px;
	background-size:contain;
}

.if{
	position:absolute;
	top: 37px;
	left: 49px;
	height:360px;
}

.bg_log{
	background:url(../images/bg_log.png) center center no-repeat;
	background-size:contain;
}

.round_log {
	background: #fff;
	height: auto;
	overflow: hidden;
	border-radius:184px;
	padding:30px;
}

.tit_log{
	font-family:"Boomerang";
	color:#17a8c8;
	font-size:48px;
	margin-top:5px;
}

.buscar1 {
	background: #fff;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	box-shadow:0px -3px 2px #999;
	-ms-box-shadow:0px -3px 2px #999;
	-moz-box-shadow:0px -3px 2px #999;
	-webkit-box-shadow:0px -3px 2px #999;
	-o-box-shadow:0px -3px 2px #999;
}

.buscar1 h1{
	color:#f27c08;
	font-family:"Boomerang";
	margin-top:2px;
}

.searche {
	height: 24px;
	background: #ddd;
}

.adde{
	margin-top:21px;
}

.social_log {
    margin-left: 64px;
}

.social_log li {
    display: inline;
    width: 100px;
    text-align: center;
}

.social_log li img {
    display: inline;
    width: 17%;
}

.f_icon {
    margin: 0 24px;
}

.log {
	border: 1px solid #42c0c2;
}

.remb {
	border-bottom: 1px solid #c7375a;
	color: #c7375a;
}

.tc{
	color:#42c0c2;
}

.tc a{
	font-weight:bold;
	color:#42c0c2;
}

.footer {
	background: rgba(97,98,89,0.6);
	margin-top: 14px;
	min-height: 127px;
	padding: 10px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.counter{
	background: #39b3d7;
	width: 191px;
	margin: 0 auto;
	padding: 1px;
	border-radius: 6px;
	color: #fff;
	font-family: "Boomerang";
	font-size: 22px;
	margin-bottom: 5px;
	letter-spacing: 4px;
}

.actividades{
	background:rgba(255,255,255,0.6);
	border-radius:5px;
	padding:4px 35px;
}

.actividades h1{
	color:#c7385b;
	font-family: "Boomerang";
	height:60px;
	background:url(../images/border.svg) center bottom no-repeat;
	background-size:contain;
	margin-top:8px;
}

.actividad h4{
	color:#42c0c2;
	margin-top:0;
}

.actividad p a{
	font-style:italic;
	color:#42c0c2;
}

.actividad{
	background:#fff;
	border-radius:4px;
	padding: 14px 2px;
	margin-bottom:20px;
}

.act{
	float:right;
}

.menu{
	font-family: "Boomerang";
	color:#fff;
	font-size: 28px;
	margin-top: 27px;
	margin-bottom: 0;
}

.menu li{
	margin-left:35px;
}

.menu li a{
	color:#fff;
}

.has-success .control-label{
	
	color:#c7385b;
	font-family: "Boomerang";
	font-size:24px;
}

.has-success .form-control{
	background:#f7a43c;
	border:none;
}

.child{
	background:url(../images/ni%C3%B1o.svg) left bottom no-repeat;
	height:125px;
}

.buscar2{
	top:71px;
}

.list_actividad{
	background: #fff;
	margin-top: 124px;
	padding: 2px 35px;
}

.activ{
	border-bottom:1px solid #c7385b;
	margin-bottom:20px;
}

.activ h4{
	color:#42c0c2;
}

.fecha{
	color:#c7385b;
	font-family: "Boomerang";
	font-size:22px;
}

.pagination > li > a, .pagination > li > span{
	margin-left:12px;
	border-radius:20px;
}

.paginador{
	margin: auto !important;
	width: 100%;
	text-align: center !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	
	background-color: #f7a43c;
	border-color: #f7a43c;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color: #fff;
	background-color: #f7a43c;
	border-color: #f7a43c;
}

.pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius:20px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-radius:20px;
}



@media (min-width: 768px){

.form-inline .form-control {
	width: 200px !important;
	margin-right:12px;
}

}

@media (max-width:767px){


.buscar1 {
	top: 285px;
	padding-bottom: 22px;
	border-radius: 5px;
	width: 100%;
	margin: 0 auto;
	box-shadow: none;
	border: 1px solid #ccc;
	margin-bottom:15px;
}

.if {
	position: absolute;
	top: 22px;
	left: 1px;
	height: 250px;
	width: 100%;
	background: #fff;
	padding: 8px 0px;
}

.curve{
	background:none;
	min-height:280px;
}

.actividades h1 {
	height: 44px;
	font-size: 28px;
}

.buscar2{
	top:0px;
}

.child{
	background:none;
	height:0px;
}

.has-success .form-control{
	background:#f7a43c;
	border:none;
	float: left;
	width: 82%;
	margin-right: 7px;
}

.btn-danger{
	float:left;
}

.list_actividad{
	margin-top:85px;
}

.menu{
	font-size: 23px;
	margin-top: 27px;
}

.menu li {
	margin-left: 16px;
}

.menu li a {
	color: #269abc;
}


}



@media (min-width: 768px) and (max-width: 991px) {
	
	.round_log {
	border-radius: 353px;
	padding: 166px;
	}
	
	
}


@media (min-width: 992px) and (max-width: 1199px) {
	
	.buscar1{
		top: 246px;
	}
	
	.buscar2{
	top:35px;
}
}

@media (min-width: 1200px) {
	
	.buscar1{
	top: 296px;
	}
}

.calificar ul{
	list-style-type:none !important;
}
.calificar ul li{
	float:left !important;
	margin-right:10px;
	margin-bottom:100px;
}