/* SLIDER */
.contenedor_slider{
    width:44%;
    max-width:300px;
    float:left;
    margin:20px 2.8% 20px 0px;
    padding:20px 1.5% 20px 1.5%;
    border:1px solid #CCC;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    -moz-border-radius:10px;
    min-width:510px;
    box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -o-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
}
#main-inner {
    position: relative;
    height: 335px;
    width: 503px;
    margin:auto;
}
#slider {
    height: 335px;
    width: 503px;
}
/* SLIDER CONTAINER */
.slider-container {
    width: 503px;
    height: 335px;
    overflow: hidden;
}
.slider-container img{
    width: 503px;
    float:left;
    height:335px;
}
@media (min-width: 500px ) and (max-width: 1024px ){
    .contenedor_slider{
        width:80%;
        max-width:600px;
        float:left;
        margin:20px 2%;
        padding:20px 0px 20px 14%;
        border:1px solid #CCC;
        border-radius:10px;
        -webkit-border-radius:10px;
        -o-border-radius:10px;
        -moz-border-radius:10px;
        box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -moz-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -o-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    }
    #main-inner {
        height: 335px;
        width: 503px;
    }
    #slider {
        height: 335px;
        width: 503px;
    }
    /* SLIDER CONTAINER */
    .slider-container {
        width: 503px;
        height: 335px;
        overflow: hidden;
    }
    .slider-container img{
        width: 503px;
        float:left;
        height:335px;
        border-radius:5px;
    }
    .previous-btn, .next-btn {
        top: 120px;
    }

}
@media (min-width: 1025px ) and (max-width: 1520px ){
    .contenedor_slider{
        width:80%;
        max-width:900px;
        float:left;
        margin:20px 5%;
        padding:20px 8% 20px 8%;
        border:1px solid #CCC;
        border-radius:10px;
        -webkit-border-radius:10px;
        -o-border-radius:10px;
        -moz-border-radius:10px;
        box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -moz-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        -o-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
        text-align:center;
    }
    #main-inner {
        height: 335px;
        width: 503px;
        min-width:453px;
        margin:auto;
        margin-left:20%;
    }
    #slider {
        height: 335px;
        width: 503px;

    }
    /* SLIDER CONTAINER */
    .slider-container {
        height: 335px;
        width: 503px;
    }
    .slider-container img{
        height: 335px;
        width: 503px;
    }
    .previous-btn, .next-btn {
        top: 120px;
    }
}

.previous-btn, .next-btn {
    position: absolute;
    top: 160px;
    width: 25px;
    height: 25px;
    font-size: 30px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    text-align:center;
    background: #222;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.previous-btn:hover, .next-btn:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.previous-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
/* PAGiNATION */
.pagination {
    position: absolute;
    bottom: 10px;
    margin: 0;
    padding: 0;
    left:220px;
}
.pagination li {
    list-style: none;
    float: left;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    position: relative;
}
.pagination li a {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 23px;
    background: #fff;
    text-indent: -9999px;
    display: block;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.pagination li a:active{
    background-color: #00972C;
}
.pagination li.current-pagination a, .pagination li a:hover {
    background-color: #00972C;
}