{% extends '::frontend.html.twig' %}
{% block title %}{{project_name}}{% endblock %}
{% block body %}
    {% include('DemoFrontendBundle:Base:languages.html.twig') %}
    <h1>
        ITO BASE V2.0 - SYMFONY 2
    </h1>
    {{translated_hello}}
    {% trans %}World{% endtrans %}
{% endblock %}