<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
        {% extends 'HWIOAuthBundle::layout.html.twig' %}
        {% block hwi_oauth_content %}
            {% if error is defined and error %}
                <span>{{ error }}</span>
            {% endif %}
            {% for owner in hwi_oauth_resource_owners() %}
            <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
            {% endfor %}

            <h4>Entro</h4>
        {% endblock hwi_oauth_content %}
        
    </body>
</html>

